.header__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;
    position: fixed;
    width: 100%;
    height: 4rem;
    background-color: var(--grey-color-1);
    color: var(--grey-color-5)
}

.header__container > small{
    font-size: 0.75rem;
    color: var(--white-fixed)
}

.post-suggest, .all-posts{
    display: flex;
    flex-direction: column;
    margin-bottom: 4.375rem;
    gap: 2.5rem;
}

.post-suggest__li{
    display: flex;
    flex-direction: column;
    gap:1.875rem
}

.suggest__users{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.9375rem
}

.user-profile{
    line-height: var(--line-height-2);
}

.user-post{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:0.9375rem
}

.user-post > input{
padding: 0.625rem;
border-radius: 0.125rem;
border: 0.125rem solid var(--grey-color-4)
}

.user-post__input{
    height:6.25rem;
}

.user-post__button{
    height: 2.3rem;
    padding: 0.3125rem 0.9375rem;
    border-radius: 0.125rem;
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-2);
    color:var(--grey-color-3);
    background-color: var(--grey-color-4);
    align-self: flex-end;
}

aside > h2{
    font-size: var(--font-size-2);
    margin: 3.125rem 0rem;
}

.suggest{
    display: flex;
    overflow-x: auto;
    gap: 3rem;
}

.suggest__li{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 14.5rem;
    height: 8rem;
}

.suggest__li > button{
    align-self: flex-start;
    padding: 5px 10px;
}

.post{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 4.375rem;
}

.open-post{
    display: flex;
    flex-direction: row;
    gap: 2.25rem
}

.like{
     display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px
}

.like > img{
    width: 20px;
    height: 35px;
}

.like > small{
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-2);
}

