.modal__controller{
    width: 80%;
    height: 580px;
    border: none;
    border-radius: 0.3125rem;
    position:relative;
}

.modal__li{
    display: flex;
    flex-direction: column;
    gap: 0.3rem
}

.modal__li > .suggest__users > .user-profile > h3{
    font-size: var(--font-size-3);
}

.modal__li > .title-post{
    font-size: var(--font-size-2);
    line-height: var(--line-height-2);
}

.modal__li > .post-description{
    font-size: var(--font-size-4);
    line-height: var(--line-height-2);
}

.modal__close{
    position: absolute;
    top: 0;
    right: 0;
    width: 1.875rem;
    height: 1.875rem;
    margin-top: 1.25rem;
    margin-right: 0.625rem;
}